
<!--   Character name and basics (form grid)  -->
<app-basics></app-basics>

<!--  Abilites and their scores  -->
<div class="row">
    <div class="col">
        <app-abilities></app-abilities>
    </div>

    <!--    Health, Wounds, etc        -->
    <div class="col">
        <app-health-wounds></app-health-wounds>
    </div>
</div>
<!--  AC, Touch, FF  -->
<div>

</div>
<div class="row">

    <!-- fort, reflex, will, bab, cmb, cmd-->
    <div class="col">
        <app-save-bonus></app-save-bonus>
    </div>
    <div class="col">
        <app-attack-bonus></app-attack-bonus>
    </div>

</div>