
    <th class="text-light white-black center-text fs-5" scope="row">{{ label }}</th>
    <td class="col-sm">
        <input type="text" class="form-control" placeholder="10" aria-label="10">
    </td>
    <td class="col-sm">
        <input type="text" class="form-control" placeholder="+ 0" aria-label="+ 0">
    </td>
    <td class="col-sm">
        <input type="text" class="form-control" placeholder=" " aria-label=" ">
    </td>
    <td class="col-sm">
        <input type="text" class="form-control" placeholder=" " aria-label=" ">
    </td>
