
<table>
    <span class="row m-1">
        <td class="first ms-2 me-2 col-3 fs-5 bg-dark text-center fw-semibold">
            <span class="align-middle text-light">
                Fortitude
            </span>
        </td>
        <td class="col">
            <div class="row">
                <div class="col-sm-4">
                    <input class="form-control col" type="text" placeholder="Total" aria-label="">
                </div>
                <label class="col-auto me-auto center-text fs-5">=</label>
                <input class="form-control col" type="text" placeholder="" aria-label="">
                <label class="col-auto center-text fs-5">+</label>
                <input class="form-control col" type="text" placeholder="Extra" aria-label="">
            </div>
        </td>
    </span>
</table>