<div class="col">
    <table class="table fs-6">
        <thead>
            <tr>
                <th scope="col">Ability Name</th>
                <th class="col" scope="col">Ability Score</th>
                <th class="col" scope="col">Ability Modifier</th>
                <th class="col" scope="col">Temp Ability</th>
                <th class="col" scope="col">Temp Score</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th class="text-light white-black center-text fs-5" scope="row">STR</th>
                <td class="col-sm">
                    <input type="text" class="form-control" placeholder="10" aria-label="10">
                </td>
                <td class="col-sm">
                    <input type="text" class="form-control" placeholder="+ 0" aria-label="+ 0">
                </td>
                <td class="col-sm">
                    <input type="text" class="form-control" placeholder=" " aria-label=" ">
                </td>
                <td class="col-sm">
                    <input type="text" class="form-control" placeholder=" " aria-label=" ">
                </td>
            <tr>
                <th class="text-light white-black center-text fs-5" scope="row">DEX</th>
                <td class="col-sm">
                    <input type="text" class="form-control" placeholder="10" aria-label="10">
                </td>
                <td class="col-sm">
                    <input type="text" class="form-control" placeholder="+ 0" aria-label="+ 0">
                </td>
                <td class="col-sm">
                    <input type="text" class="form-control" placeholder=" " aria-label=" ">
                </td>
                <td class="col-sm">
                    <input type="text" class="form-control" placeholder=" " aria-label=" ">
                </td>
            </tr>
            <tr>
                <th class="text-light white-black center-text fs-5" scope="row">CON</th>
                <td class="col-sm">
                    <input type="text" class="form-control" placeholder="10" aria-label="10">
                </td>
                <td class="col-sm">
                    <input type="text" class="form-control" placeholder="+ 0" aria-label="+ 0">
                </td>
                <td class="col-sm">
                    <input type="text" class="form-control" placeholder=" " aria-label=" ">
                </td>
                <td class="col-sm">
                    <input type="text" class="form-control" placeholder=" " aria-label=" ">
                </td>
            </tr>
            <tr>
                <th class="text-light white-black center-text fs-5" scope="row">INT</th>
                <td class="col-sm">
                    <input type="text" class="form-control" placeholder="10" aria-label="10">
                </td>
                <td class="col-sm">
                    <input type="text" class="form-control" placeholder="+ 0" aria-label="+ 0">
                </td>
                <td class="col-sm">
                    <input type="text" class="form-control" placeholder=" " aria-label=" ">
                </td>
                <td class="col-sm">
                    <input type="text" class="form-control" placeholder=" " aria-label=" ">
                </td>
            </tr>
            <tr>
                <th class="text-light white-black center-text fs-5" scope="row">WIS</th>
                <td class="col-sm">
                    <input type="text" class="form-control" placeholder="10" aria-label="10">
                </td>
                <td class="col-sm">
                    <input type="text" class="form-control" placeholder="+ 0" aria-label="+ 0">
                </td>
                <td class="col-sm">
                    <input type="text" class="form-control" placeholder=" " aria-label=" ">
                </td>
                <td class="col-sm">
                    <input type="text" class="form-control" placeholder=" " aria-label=" ">
                </td>
            </tr>
            <tr>
                <th class="text-light white-black center-text fs-5" scope="row">CHA</th>
                <td class="col-sm">
                    <input type="text" class="form-control" placeholder="10" aria-label="10">
                </td>
                <td class="col-sm">
                    <input type="text" class="form-control" placeholder="+ 0" aria-label="+ 0">
                </td>
                <td class="col-sm">
                    <input type="text" class="form-control" placeholder=" " aria-label=" ">
                </td>
                <td class="col-sm">
                    <input type="text" class="form-control" placeholder=" " aria-label=" ">
                </td>
            </tr>
        </tbody>
    </table>
</div>