<a *ngIf="userService.current_user?.id"><button (click)="post(userService.current_user)">Create New Character</button></a>
<div *ngFor="let character of characterService.character_list">
    <div *ngIf="character['user_id'] == userService.current_user?.id"><br>
        <label>Name: {{character["character_name"]}}</label><br>
        <label>Username: {{character["username"]}}</label><br>
        <label>Class & Level: {{character["class_level"]}}</label><br>
        <label>Race: {{character["race"]}}</label><br>
        <label>Gender: {{character["gender"]}}</label><br>
        <label>Heigth: {{character["heigth"]}}</label><br>
        <label>Age: {{character["age"]}}</label><br>
        <label>Weight: {{character["weight"]}}</label><br>
        <br>
        <a routerLink="/charactersheet/{{character.id}}"><button>Edit</button></a>
        <br>
        <button (click)="delete(character['id'])">Delete</button>
    </div>
</div>

